<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Dota 2 Heroes</title>
</head>
<style>
.card-img-top {
    width: 100%;
    height: 100%;
}
#title-a {
	color: inherit;
	text-decoration: inherit;
}
.hero-card { /* Initial transparent border */
            transition: border 0.1s ease;
            cursor : pointer
        }

.hero-card:hover {
            border: 2px solid #4e8bfc; /* Change border color to blue on hover */
        }
</style>
<body>
	<div class="container-md">
		<div class="row text-center">
			<h1><a href="/" id="title-a">Dota 2 Hero List</a></h1>
			<p>Find Your Favourite <strike>Waifu</strike> Heroes here!</p>
			<form action="/search" method="POST">
				<div class="form-group">
					<div class="row">
						<div class="col-11">
							<input id="inp" class="form-control" type="text" name="keyword" value="">
						</div>
						<div class="col-1">
							<button type="submit" class="btn btn-primary mb-2">Search</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="row text-center">
				<h6>
					{% if context.status == "no_query" %}
					You didn't search for anything!
					{% elif context.status == "not_found" %}
					No results found for {{ context.query|safe }}
					{% elif context.status == "found" %}
					{{ context.found }} result(s) found for {{ context.query|safe }}
					{% endif %}
                </h6>
		</div>
		{% if context %}
		<div class="row text-center justify-content-center">
			{% for hero in context.heroes %}
			<div class="col-sm-3 hero-card">
				<a href="/detail?name={{hero.localized_name}}" class="card m-2 hero-card  text-decoration-none">
					<div class="card-header text-black">
						{{ hero.localized_name }}
					</div>
					<div class="card-body p-1">
						<img src="{{ hero.img }}" class="card-img-top image-thb">
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</body>
</html>